<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageworx_apo>
            <optionfeatures>
                <hide_selected_value_price>1</hide_selected_value_price>
            </optionfeatures>
        </mageworx_apo>
    </default>
</config>
