<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mageworx_apo">
            <tab>mageworx</tab>
            <group id="optionfeatures">
                <field id="hide_selected_value_price" translate="label comment" type="select" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Hide selected value price]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If this option is enabled, the cost of each individual option selected will not be displayed to the user.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
